apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blog
  template:
    metadata:
      labels:
        app: blog
    spec:
      containers:
      - name: blog
        image: jilopezv1/blog-app-posts:latest # <- This comes from Docker Hub/ need to change tags
        ports:
        - containerPort: 5000

---

apiVersion: v1
kind: Service
metadata:
  name: blog-service
  namespace: default  # <-- Add this
spec:
  selector:
    app: blog
  ports:
    - port: 80
      targetPort: 5000
  type: NodePort  # or LoadBalancer for minikube
  
